<!DOCTYPE html>
<html>
  <head>
    <title>Cash Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/partials/header' %>
    <%= render 'layouts/partials/flash' %>
    <div class="container">
      <div class="mt-5">
        <%= yield %>
      </div>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
